<div class="item">
  <div class="item-image">
    <a href="#/item/<%= item.id %>"><img src="/images/<%= item.image %>" alt="<%= item.title %>" /></a>
  </div>
  <div class="item-artist">
    <a href="#/item/<%= item.id %>">
      <%= item.artist %>
    </a>
  </div>
  <div class="item-title"><%= item.title %></div>
  <div class="item-price">$<%= item.price %></div>
</div>
